.env
*.env
**/.env
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
_override.tf
_override.tf.json
.terraform.lock.hcl
tfplan
node_modules/
dist/
build/
.next/
.idea/
.vscode/
*.log
